<nav>
  <div class="nav-wrapper  blue accent-4">
    <a href="#!" class="brand-logo"><img src="img/logo.png" width="64" ng-click="goToPage('anasayfa')"/></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="" ng-click="goToPage('settings')"><i class="material-icons">settings</i>Ayarlar</a></li>
      <li><a class="" ng-click="goToPage('hakkimizda')">Components</a></li>
      <li><a class="" ng-click="goToPage('hakkimizda')"><i class="material-icons">import_contacts</i>Hakkımızda</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="" ng-click="goToPage('settings')"><i class="material-icons">settings</i>Ayarlar</a></li>
      <li><a class="" ng-click="goToPage('hakkimizda')">Components</a></li>
      <li><a class="" ng-click="goToPage('hakkimizda')"><i class="material-icons">import_contacts</i>Hakkımızda</a></li>
    </ul>
  </div>
</nav>